doctype html
hmtl
    head 
        title= title 
        style
            include ..\includes\styles\index.css
            include ..\includes\styles\tabs.css
    body 
        div(class="pageContainer")
            h1(class="header") dc:da server panel
            div(class="main")
                div(class="settingsTabLinksContainer")
                    each category, key in svSettings
                        button(class="settingsTabLink" id="link" + category.name type="button" onclick="showSettingsTab(event, \"" + category.name + "\")")= category.displayName
                each category, key in svSettings
                    div(class="settingsTab" id=category.name)
                        h3= category.displayName
                        each setting, settingKey in category.settings
                            div(class="setting")
                                span= setting.displayName
                                input(type="text" value=setting.value onchange="updateSetting(event, \"" + setting.name + "\")")
            div(class="footer")
                p Server state 
                    span(id="serverStateInfo") &nbsp;
                div(class="footer-buttons")
                    button(type="button" id="stopServer" class="btn btn-stop") Stop
                    button(type="button" id="saveSettings" class="btn btn-save") Save
                    button(type="button" id="startServer" class="btn btn-start") Start
        script. 
            svSettings = !{JSON.stringify(svSettings)};
        script 
            include ..\includes\scripts\serverRequests.js
            include ..\includes\scripts\main.js